
iOS/OpenSpot/OpenSpot.xcodeproj/project.pbxproj
iOS/OpenSpot/OpenSpot.xcodeproj/project.xcworkspace/xcuserdata/jaylliguichushca.xcuserdatad/UserInterfaceState.xcuserstate
iOS/OpenSpot/OpenSpot.xcodeproj/project.xcworkspace/xcuserdata/jaylliguichushca.xcuserdatad/UserInterfaceState.xcuserstate
iOS/OpenSpot/OpenSpot.xcodeproj/project.pbxproj
